/* Rectangle 33 */
.purple-bubble {
    /* Rectangle 32 */
        background: #9C69E2;
        border-radius: 20px;
        width: 20px;
        height: 20px;
    }
    
.pink-bubble {
    background: #F063B8;
    border-radius: 20px;
    width: 20px;
    height: 35px;  
}

.social {
    & ul {
        display: flex;
        list-style: none;
        & li {
            border-radius: 50%;
            display: grid;
            place-content: center;
            height: 50px;
            width: 50px;
            background: #212353;
            opacity: 0.1;        }
    }
}



