/* ------------------------------------ */
/*   Custom properties   */
/* ------------------------------------ */
:root {
  --sct-space: 3rem;
  --clr-bg: #hsla(0, 0% 90%, .1);
  --clr-purple: hsl(265, 68%, 65%);
  --clr-light-purple: hsla(265, 68%, 65%, 0.1);
  --clr-pink: hsl(324, 82%, 66%);
  --clr-med-pink: hsla(324, 82%, 66%, 0.15);
  --clr-light-pink: hsla(324, 82%, 66%, 0.1);
  --clr-light-green: hsla(171, 47%, 60%, 0.1);
  --clr-light-blue: hsla(202, 71%, 52%, 0.1);
  --clr-body-text: hsla(202, 16%, 35%, 1);
  --clr-white: #FFFFFF;
  --clr-header-text: #212353;
  --fs-900: 2.5rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: .875rem;
  --ff-header: "Helvetica", sans-serif;
  --ff-text: "Avenir", sans-serif;
  --radius: 50px;
  --sm-radius: 20px;
}
@media (min-width: 376px) {
  :root {
    --fs-900: 3rem;
  }
}
@media (min-width: 860px) {
  :root {
    --fs-900: 5rem;
    --fs-800: 2.5rem;
    --sct-space: 8rem;
  }
}

/*  Box sizing  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  Reset margins  */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

p {
  max-width: 58ch;
}

/*  set up the body */
html {
  background-color: var(--clr-bg);
}

/*  image reset */
img,
picture {
  max-width: 100%;
  /* images will shrink as space gets narrower */
  display: block;
  /* corrects spacing issues */
}

/*  make forms easier to work with  */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: hsl(var(--clr-body-text));
  text-decoration: none;
}

/*  remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------------------------------------ */
/*   Utility classes   */
/* ------------------------------------ */
/* typography */
.ff-header {
  font-family: var(--ff-header);
}

.ff-text {
  font-family: var(--ff-text);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.lh-8 {
  line-height: 1.8;
}

.lh-6 {
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-header-text);
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

p {
  color: var(--clr-body-text);
}

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:last-child)) {
  /* vertical rhythm */
  margin-bottom: var(--flow-space, 2rem);
  /* outline: 1px solid red; */
}

.inline {
  display: inline;
  margin-left: 0.5rem;
}

.container {
  display: grid;
  place-content: center;
  margin-right: clamp(2rem, 10vw, 15rem);
  max-width: 1182px;
  padding-inline: var(--gap, 1rem);
}
@media (min-width: 600px) {
  .container {
    --gap: 2rem;
  }
}

.lm-var {
  margin-left: clamp(2rem, 10vw, 15rem);
}

.skip-to-content {
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 500ms ease-in;
  z-index: 999;
}

.skip-to-content:focus {
  transform: translateX(0);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

section,
.primary-header,
.hero,
#features,
.testimonials,
.cta,
.primary-footer {
  margin-bottom: var(--sct-space);
}

/*  Components  */
.btn {
  border-radius: var(--radius);
  padding: 1rem 2rem;
}

.purple {
  background-color: var(--clr-purple);
  color: var(--clr-white);
  transition: background-color 500ms ease-in-out;
}
.purple:hover {
  background-color: var(--clr-pink);
}
.purple:focus {
  background-color: var(--clr-pink);
}

.pink {
  color: var(--clr-white);
  background-color: var(--clr-pink);
  transition: background-color 500ms ease-in-out;
}
.pink:hover {
  background-color: var(--clr-purple);
}
.pink:focus {
  background-color: var(--clr-purple);
}

/* ------------------------------------ */
/*   Layout   */
/* ------------------------------------ */
body {
  color: hsl(var(--clr-body-text));
  font-family: var(--ff-text);
  font-size: var(--fs-400);
  line-height: 1.6;
  max-width: 1600px;
  min-height: 100vh;
}

/* Primary Nav */
.logo {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}
.logo:hover {
  transform: scale(1.3);
}
.logo:focus {
  transform: scale(1.3);
}

.purple-bubble {
  /* Rectangle 32 */
  background: #9C69E2;
  border-radius: var(--sm-radius);
  margin-right: 9px;
  width: 20px;
  height: 20px;
}

.pink-bubble {
  background: #F063B8;
  border-radius: 20px;
  width: 20px;
  height: 35px;
}

@media (min-width: 700px) {
  .mobile-only {
    display: none;
  }
}

.primary-header {
  padding-top: 2rem;
}
@media (min-width: 500px) {
  .primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.demo1,
.demo2 {
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  margin-left: 2rem;
  transition: box-shadow 500ms ease-in-out, background 500ms ease-in-out;
}
.demo1:hover,
.demo2:hover {
  background: var(--clr-light-purple);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.3);
}
.demo1:focus,
.demo2:focus {
  background: var(--clr-light-purple);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.3);
}

.demo1 {
  display: none;
}
@media (min-width: 700px) {
  .demo1 {
    display: inline;
  }
}

@media (max-width: 410px) {
  .demo2 {
    display: block;
    margin: 2rem 0 0;
  }
}

.nav__list-item {
  transition: color 500ms, font-weight 500ms;
}

.nav__list-item:hover,
.nav__list-item:focus {
  color: var(--clr-purple);
  font-weight: 800;
}

.hero {
  margin-right: clamp(2rem, 10vw, 15rem);
  max-width: 1265px;
}
@media (min-width: 1240px) {
  .hero {
    padding-top: 2rem;
    margin-right: 7.75rem;
    margin-bottom: calc(var(--sct-space) + 6.25rem);
    position: relative;
    padding-inline: var(--gap, 1rem);
  }
}
@media (min-width: 1240px) and (min-width: 600px) {
  .hero {
    --gap: 2rem;
  }
}
@media (min-width: 1240px) {
  .hero h1 {
    margin-bottom: 4rem;
    width: 60%;
  }
}
@media (min-width: 1240px) {
  .hero p {
    width: 35%;
  }
}

.hero::after {
  content: "";
  background-image: url("images/image1-1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: -6.25rem;
  left: 33%;
  height: 96%;
  width: 70%;
}
@media (max-width: 1239px) {
  .hero::after {
    display: none;
  }
}

@media (min-width: 1240px) {
  .hero__img {
    display: none;
  }
}

.intro {
  background-color: var(--clr-med-pink);
  border-radius: 50px;
  justify-content: center;
}
@media (min-width: 860px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.intro__text {
  margin-inline: auto;
  order: 2;
  padding: 0 2rem 3rem;
}
@media (min-width: 860px) {
  .intro__text {
    padding: 2rem 10% 2rem 0;
  }
}

.intro__img {
  order: 1;
}

.features > * {
  margin-inline: auto;
  text-align: center;
}

.features {
  margin-bottom: 6rem;
}

.feature-cards {
  place-content: center;
}
@media (min-width: 860px) {
  .feature-cards {
    grid-template: 1fr 1fr/1fr 1fr;
    row-gap: 3rem;
  }
}

.card {
  position: relative;
}
@media (min-width: 860px) {
  .card {
    grid-template-columns: 1fr 1fr;
    padding: 3.5rem 2rem 1.5rem 0;
    place-content: center;
    column-gap: 1rem;
  }
}

.card__img {
  margin-block: auto;
}

.card__text {
  margin-right: 1.1rem;
  max-width: 45ch;
  transition: color 500ms, font-weight 500ms;
}
.card__text a:hover {
  color: var(--clr-purple);
  font-weight: 800;
}

@media (min-width: 860px) {
  #card-one::after,
#card-two::after,
#card-three::after,
#card-four::after {
    border-radius: var(--radius);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 20%;
    background-color: var(--clr-light-green);
    height: 100%;
    width: 80%;
  }

  #card-two::after {
    background-color: var(--clr-light-purple);
  }

  #card-three::after {
    background-color: var(--clr-light-pink);
  }

  #card-four::after {
    background-color: var(--clr-light-blue);
  }
}
.testimonials {
  background-color: var(--clr-purple);
  border-radius: var(--sm-radius);
  gap: 0;
  padding: 3rem 1rem 0;
  overflow: hidden;
}
@media (min-width: 860px) {
  .testimonials {
    border-radius: var(--radius);
    padding: 5rem 0 6rem 8%;
  }
}

.testimonials h3 {
  color: var(--clr-white);
  margin-bottom: var(--sct-space);
  text-align: center;
}
@media (min-width: 860px) {
  .testimonials h3 {
    text-align: left;
  }
}

.testimonial__slider {
  display: block;
  position: relative;
  height: 500px;
  margin: auto;
  order: 2;
  width: 250px;
}
@media (min-width: 860px) {
  .testimonial__slider {
    height: 500px;
    height: calc(332px + 2rem);
    order: 1;
    width: 200%;
  }
}

.slider-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 860px) {
  .slider-container {
    flex-direction: row;
  }
}

.testimonial__card {
  background-color: var(--clr-white);
  border: 1px solid #9C69E2;
  border-radius: var(--sm-radius);
  box-shadow: 0 20px 0 #8f4dec;
  color: var(--clr-body-text);
  gap: 1rem;
  grid-template-rows: 90px 1fr;
  height: px;
  padding: 1rem;
  width: 240px;
}
@media (min-width: 860px) {
  .testimonial__card {
    grid-template-columns: 90px 1fr;
    height: 332px;
    margin-right: 1rem;
    padding: 3rem;
    width: 645px;
  }
}

#card-fades {
  background: linear-gradient(90deg, white 9.25%, #9C69E2);
}

.testimonial__avatar {
  aspect-ratio: 1;
  background-color: #cccccc;
  border-radius: 50%;
  width: 90px;
}

.testimonial__card-info {
  margin-top: 0.5rem;
}

.testimonial__name {
  font-weight: 800;
}

.testimonial__job {
  color: var(--clr-purple);
}

@media (min-width: 860px) {
  .testimonial__text {
    line-height: 2;
    margin-right: 2.8rem;
  }
}

.testimonial__slider-controls {
  order: 1;
}
@media (min-width: 860px) {
  .testimonial__slider-controls {
    order: 2;
    padding-top: 4rem;
  }
}

.slider__controls {
  justify-content: space-between;
  margin-inline: 1rem;
}
@media (min-width: 860px) {
  .slider__controls {
    margin-right: 8%;
  }
}

.dot {
  background-color: var(--clr-white);
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  transition: transform 500ms ease-in-out;
  width: 10px;
}
.dot:hover {
  transform: scale(1.5);
}
.dot:focus {
  transform: scale(1.5);
}

.dot.active {
  background-color: var(--clr-pink);
}

hr {
  color: var(--clr-purple);
}

.slider__control-arrow {
  background-color: transparent;
  padding: 0;
}

.slider__control-arrow:hover,
.slider__control-arrow:focus {
  transform: scale(1.3);
  transition: transform 500ms ease-in-out;
}

.cta {
  justify-content: space-between;
  flex-direction: column;
  padding-top: var(--sct-space);
}
@media (min-width: 860px) {
  .cta {
    flex-direction: row;
    padding-top: var(--sct-space);
  }
}

.primary-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 860px) {
  .primary-footer {
    display: flex;
    justify-content: space-between;
  }
}

.footer__info {
  grid-row: 1;
  grid-column: 1/3;
}
@media (min-width: 860px) {
  .footer__info {
    grid-row: 1;
    grid-column: 1;
  }
}

.footer__list1 {
  grid-row: 2;
}
.footer__list1 ul li {
  transition: color 500ms ease-in, font-weight 500ms ease-in;
}
.footer__list1 ul li:hover {
  color: var(--clr-purple);
  font-weight: 800;
}
.footer__list1 ul li:focus {
  color: var(--clr-purple);
  font-weight: 800;
}
@media (min-width: 860px) {
  .footer__list1 {
    grid-row: 1;
    grid-column: 2;
    margin-top: 0.5rem;
  }
  .footer__list1 li {
    margin-bottom: 1rem;
  }
}

.footer__list2 {
  grid-row: 2;
}
.footer__list2 ul li {
  transition: color 500ms ease-in, font-weight 500ms ease-in;
}
.footer__list2 ul li:hover {
  color: var(--clr-pink);
  font-weight: 800;
}
@media (min-width: 860px) {
  .footer__list2 {
    grid-row: 1;
    grid-column: 3;
    margin-top: 0.5rem;
  }
  .footer__list2 li {
    margin-bottom: 1rem;
  }
}

.social {
  grid-row: 3;
}
@media (min-width: 860px) {
  .social {
    grid-row: 1;
    grid-column: 4;
    margin-top: 0.5rem;
  }
}

.footer__info-title {
  align-items: flex-end;
}

.footer__info-address {
  margin-bottom: 1rem;
}
@media (min-width: 860px) {
  .footer__info-address {
    margin: 1rem 0 2rem;
  }
}

.footer__info-title,
.footer__list-title,
.social__title {
  margin-bottom: 1rem;
}
@media (min-width: 860px) {
  .footer__info-title,
.footer__list-title,
.social__title {
    margin-bottom: 3rem;
  }
}

.social ul {
  display: flex;
  list-style: none;
}
.social ul li {
  background: #212353;
  border-radius: 50%;
  display: grid;
  height: 50px;
  margin-right: 1rem;
  opacity: 0.1;
  place-content: center;
  transition: background-color 500ms ease-in-out, opacity 500ms ease-in-out;
  width: 50px;
}
.social ul li:hover {
  background-color: var(--clr-purple);
  opacity: 1;
}
.social ul li:focus {
  background-color: var(--clr-purple);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
